
# configファイルの保存先なので忘れず変更する
hydra:
  run:
    dir: outputs/kcam_minred_baseline

# 手法名
method: 
  name: "minred"


model:
  type: "resnet50"
  simsiam_dim: 2048
  pred_dim: 512
  fix_pred_lr: True


dataset:
  type: "krishnacam"
  num_classes: 436
  data_folder: '/home/kouyou/datasets/'
  filelist: "/home/kouyou/datasets/krishnacam/filelists/"
  # filelist: ""
  size: 224
  drop_last: True
  start_index: 0
  sharding: "interleave"


optimizer:
  train:
    learning_rate: 0.1
    weight_decay: 1e-4
    momentum: 0.9
    eta: 0.005
    batch_size: 128
    start_epoch: 0
    epochs: 1
    scheduler_type: "cos"
    scheduler_exit_decay: 0


continual:
  n_cls: 436
  cls_per_task: []
  n_task: 436
  # n_task: 5
  buffer_type: "minred"
  buffer_size: 65536
  repeat: 5


linear:
  dataset: "imagenet21k"
  filelist: "/home/kouyou/ContinualLearning/kmeans_clustering_100/filelists4cluster/similar_order"
  num_classes: 13971
  task_id: []
  n_task: 100
  num_workers: 10
  ckpt: "checkpoint_00001.0000.pth"
  train:
    batch_size: 1024
    epochs: 100
    learning_rate: 1.0
    momentum: 0.9
    weight_decay: 0
    schedule: [60, 80]
    eta: 0.005
    cos: True
  

  linear:
  dataset: "cifar100"
  filelist: "/home/kouyou/make_dataset/kmeans_clustering_100/filelists/similar_order"
  data_folder: '/home/kouyou/datasets/'
  task_id: []
  num_classes: 100
  n_task: 10
  num_workers: 10
  ckpt: "checkpoint_00001.0000.pth"
  train:
    batch_size: 1024
    epochs: 100
    learning_rate: 1.0
    momentum: 0.9
    weight_decay: 0
    schedule: [60, 80]
    eta: 0.005
    cos: True


log:
  name: 
  base: "baseline1"
  model: "model"
  result: "result"
  base_path: 
  model_path: 
  explog_path: 
  mem_path: 
  result_path: 
  save_freq: 0.005
  save_freq_mints: 20
  print_freq: 20
  resume: True


ddp:
  local_rank: 
  use_ddp: 
  world_size: 

amp:
  use_amp: True
  dtype: "fp16"        # "fp16" か "bf16"（A100/H100 や RTX 40xx は bf16 推奨）
  grad_scaler: true    # bf16 のときは自動的に無視されます


seed: 777
date: 2025_1107
workers: 4


debug: False







